#thank-you-img {
  width: 170px;
  margin-top: 10px;
  
}

#selected {
  color: hsl(25, 78%, 49%);
  background-color: hsl(213, 17%, 23%);
  padding: 8px 20px;
  border-radius: 20px;
  margin-top: 30px;
}

#thank-you {
  color: white;
  font-size: 30px;
  margin-top: 40px;
 

}

#thank-you-description {
  color:  hsl(217, 12%, 63%);
  margin-top: 20px;
  text-align: center;
}

#box2 {
  align-items: center;
}